:root {
  --primary-color: white;
  --secondary-color: rgb(191, 225, 245);
  --tertiary-color: #cee4eb;
  --quatriary-color: rgb(158, 158, 158);
}

body {
  background-color: var(--secondary-color);
  font-family: "Noto Serif", serif;
}

@media only screen and (min-width: 1680px) {
  .recipe-grid {
    grid-area: recipes;
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1680px) {
  .recipe-grid {
    grid-area: recipes;
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
}

@media only screen and (min-width: 770px) and (max-width: 1200px) {
  .recipe-grid {
    grid-area: recipes;
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
}

.recipe {
  display: grid;
  position: relative;
  grid-template-rows: auto auto;
  background-size: 100% 100%;
  background-color: #eff1db;
  border: 3pt solid white;
  border-radius: 15px;
  height: 200px;
  width: 28.5em;
  padding: 12px;
  margin: 5px 10px 4.1px 5px;
}

.recipeSpan {
  position: absolute;
  bottom: 0%;
  background-color: rgb(239, 241, 219, 0.9);
  border-radius: 0 10.5px 0 10.5px;
  padding: 2% 8% 2% 8%;
  color: rgb(42, 80, 105);
  font-weight: bold;
  font-size: 12pt;
}

.recipe:hover {
  background-color: rgb(157, 199, 229);
  border: 3pt solid rgb(130, 185, 223);
}

.recipe > img {
  object-fit: fill;
  align-self: center;
  margin: auto;
  height: 158px;
  padding: 8px;
}

.logo {
  grid-area: logo;
}

.logoImg {
  width: 300px;
  height: 70px;
}

.search {
  grid-area: search;
  font-size: 19pt;
  border-radius: 15px;
  margin-left: 500px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

.search-button {
  grid-area: button;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 100px;
  border-radius: 15px;
}

.logout-button {
  grid-area: logout;
  margin-top: 16px;
  border: none;
}

.search-button:hover {
  background-color: rgb(195, 195, 195);
}

.search-changed {
  grid-area: search;
  font-size: 19pt;
  border-radius: 15px;
  margin-left: 500px;
  padding-left: 10px;
  padding-top: 0;
  padding-bottom: 0;
}

/* .drop-down {
  grid-area: drop;
  font-size: 13pt;
  padding-left: 10px;
  text-align: center;
  padding-right: 10px;
  border-radius: 15px;
} */

.foot {
  grid-area: footer;
  color: rgb(0, 0, 0);
}

.navbar {
  grid-area: bar;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  margin-left: 15px;
  margin-right: 38px;
}

.home-grid {
  display: grid;
  grid-template-areas:
    "logo a b search search drop button logout"
    "tags recipes recipes recipes recipes recipes recipes recipes"
    "tags recipes recipes recipes recipes recipes recipes recipes"
    "tags recipes recipes recipes recipes recipes recipes recipes"
    "tags bar1 bar bar bar bar bar bar2"
    "footer footer footer footer footer footer footer footer";
  grid-gap: 10px;
  background-color: var(--main-bg-color);
  padding: 10px;
}

/*Home Button*/
.a {
  grid-area: a;
  color: black;
  font-size: 1.7vw;
  text-align: center;
  cursor: pointer;
  padding-top: 14px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: rgb(130, 185, 223);
  border: 2px solid black;
  border-radius: 15px;
  margin-right: 35px;
}

/*Explore Button*/
.b {
  grid-area: b;
  color: black;
  font-size: 1.7vw;
  text-align: center;
  cursor: pointer;
  background-color: rgb(130, 185, 223);
  border-radius: 15px;
  padding-top: 14px;
  padding-left: 55px;
  padding-right: 55px;
  border: 2px solid black;
}

.a:hover {
  background-color: rgb(164, 208, 240);
}

.b:hover {
  background-color: rgb(164, 208, 240);
}

/**********/
/** TAGS **/
/**********/
.tags {
  grid-area: tags;
  max-width: 1100px;
  height: 765px;
  justify-content: center;
  text-align: center;
  border: solid;
  white-space: pre-line;
  background-color: #eff1db;
  border-radius: 10px;
  font-size: 14pt;
  border: 3pt solid white;
  margin-bottom: 0;
  margin-top: 0;
  overflow-y: scroll;
  margin-right: 10px;
  margin-left: 3px;
}

.tags > * {
  border: solid;
  margin-top: 0px;
  margin-bottom: -12px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 4mm;
  opacity: 0.5;
  cursor: pointer;
  font-size: 13pt;
  color: rgb(42, 80, 105);
  background-color: rgb(209, 233, 241);
  border: 3px solid rgb(144, 179, 202);
  border-radius: 30px;
}

.tags > *:hover {
  border-color: burlywood;
  background-color: wheat;
}

.selected {
  opacity: 1;
}

/***************/
/** TAGS MEME **/
/***************/
div[hide="true"],
div[hide="true"] > *:hover {
  overflow-y: hidden;
  color: rgba(0, 0, 0, 0);
  cursor: not-allowed;
  background-image: url("../images/amjad.jpg");
  background-size: 400px 800px;
}

div[hide="true"]:hover {
  overflow-y: hidden;
  color: rgba(0, 0, 0, 0);
  cursor: not-allowed;
  background-image: url("../images/amjadRedEyes.png");
  background-size: 400px 800px;
}

div[hide="true"] > * {
  background-color: rgb(191, 225, 245);
  color: rgb(106, 150, 175);
  opacity: 0;
}

@media (min-width: 768px) {
  body {
    background-color: black;
  }
}

/*****************/
/** MOBILE VIEW **/
/*****************/
/* @media only screen and (max-width: 768px) {
  
  .logoImg, .logo {
    width: 200px;
    height: 50px;
  }

  .search-button {
    padding-left: 6px;
    padding-right: 6px;
    margin-right: 10px;
  }

  .search {
    margin-left: 0px;
    margin-right: 0px;
  }

  .a {
    padding-top: 8.5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
  }

  .b {
    padding-top: 8.5px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
  }


  
} */
