<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>View Recipe</title>
    <link rel="stylesheet" href="../source/assets/styles/viewRecipe.css" />
    <script
      src="../source/assets/scripts/viewRecipeExplore.js"
      type="module"
    ></script>

    <!-- Ref: Lab 5 and https://github.com/loonywizard/js-confetti -->
    <script src="../source/assets/scripts/Confetti/js-confetti.browser.js"></script>
  </head>
  <body>
    <nav id="navbarGrid">
      <input
        type="image"
        id="exploreTimer"
        src="../source/assets/images/timer.png"
      />

      <input
        type="image"
        id="backBtn"
        src="../source/assets/images/backArrow.png"
      />
      <img id="logo" src="../source/assets/images/logo.png" />
      <input type="image" id="favBtn" src="../source/assets/images/add.png" />
    </nav>

    <div id="timerBox" class="hide">
      <div id="time">
        <span id="closeBtn">&times;</span>
        <p id="timeInput" class="show">
          <input
            type="number"
            id="minutesInput"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type="number"
            min="0"
            max="99"
            maxlength="2"
            defaultValue="0"
          />
          :
          <input
            type="number"
            id="secondsInput"
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            type="number"
            min="0"
            max="99"
            maxlength="2"
            defaultValue="0"
          />
        </p>
        <p id="timeDisplay" class="hide">
          <span id="minutesDisplay"></span> : <span id="secondsDisplay"></span>
        </p>
        <input
          type="image"
          id="startStopBtn"
          src="../source/assets/images/play.png"
        />
      </div>
    </div>

    <h1 id="title"></h1>
    <div id="metaData">
      <p><b>Servings:</b> <span id="servings"></span> &nbsp;</p>
      <p><b>Cooking Time:</b> <span id="cookTime"></span> minutes &nbsp;</p>
      <p><b>Author:</b> <span id="author"></span></p>
    </div>

    <div id="tags"></div>

    <div id="recipeCardGrid">
      <img id="recipeImg" src="" />

      <article id="ingredients">
        <h2>Ingredients</h2>
      </article>

      <article id="instructions">
        <h2>Instructions</h2>
      </article>
    </div>
  </body>
</html>
